/* 1004 Start */

.rugiet_1004 #cart-container{box-shadow: none !important; padding: 0;}
.rugiet_1004 #cart-container .max-w-md{max-width: 638px; padding-left: 15px; padding-right: 15px;}
.rugiet_1004 #cart-container h1{color: #000; font-family: Montserrat,sans-serif; font-size: 28px;font-style: normal;font-weight: 700;line-height: normal; text-align: left !important; padding-bottom: 52px; margin-top: 9px;}
.rugiet_1004 #cart-container .cart_items{background: none !important; padding: 0 !important; flex-wrap: wrap;}
.rugiet_1004 #cart-container .cart_items .leading-8{width: 100%; flex: 0 0 100%; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: flex-start;}
.rugiet_1004 #cart-container .cart_items .leading-8:last-child{display: none;}
.rugiet_1004 .lead-col-50{width: 50%; flex: 0 0 50%; display: flex; align-items: center; max-width: 264px; flex-wrap: wrap; justify-content: space-between;}
.rugiet_1004 .lead-col-50 + p{display: none;}
.rugiet_1004 .lead-col-50 .prod-info{display: flex; flex-wrap: wrap; margin-top: 15px;}
.rugiet_1004 .lead-col-50 .prod-info div.text-sm{display: flex; flex-direction: row-reverse; margin: 0 4px 0 0;}
.rugiet_1004 .lead-col-50 .prod-info div.text-sm:after{content: ',';color: rgba(0, 0, 0, 0.60);font-size: 16px;font-style: normal;font-weight: 400;line-height: normal;}
.rugiet_1004 .lead-col-50 .prod-info div.text-sm:last-child:after{display: none;}
.rugiet_1004 .lead-col-50 .prod-info div.text-sm span{color: rgba(0, 0, 0, 0.60); font-size: 16px;font-style: normal;font-weight: 400;line-height: normal; order: 1;}
.rugiet_1004 .lead-col-50 .prod-info div.text-sm span:last-child{font-weight: 600; margin-right: 4px;}
.rugiet_1004 .lead-col-50 .doses-info{width: 100%;margin: 15px 0 0;text-transform: lowercase;
display: flex;align-items: center;justify-content: space-between;}
.rugiet_1004 .lead-col-50 .doses-info span{color: rgba(0, 0, 0, 0.60);font-size: 16px;font-style: normal;font-weight: 600;line-height: normal;}
.rugiet_1004 .lead-col-50 p{color: #000; font-family: Montserrat,sans-serif; font-size: 18px;font-style: normal;font-weight: 600;line-height: normal; padding: 0 16px 0 0;}
.rugiet_1004 .lead-col-50 div span.rounded-md{border-radius: 4px;border: 1px solid #ECC818;background: #FDF9E8;color: #000; font-family: Montserrat,sans-serif; font-size: 12px;font-style: normal;font-weight: 600;line-height: normal;padding: 3.3px 7.5px;}
.rugiet_1004 .supply-title{color: #000; font-family: Montserrat,sans-serif; font-size: 20px;font-style: normal;font-weight: 600;line-height: normal; padding-top: 47px !important; margin-bottom: 24px !important;    border-top: 1px solid #EAEAEA; margin-top: 15px !important;}
.rugiet_1004 .selection-row{display: flex; justify-content: space-between; margin: 0 0 14px !important;}
.rugiet_1004 .selection-box{width: 50%; max-width: 292px;}
.rugiet_1004 .selection-box label.bg-white{border-radius: 8px !important;border: 2px solid #737373;background: #FFF; box-shadow: none !important; margin: 0;}
.rugiet_1004 .selection-box.selected-box label{border-radius: 8px !important; border: 2px solid #ECC818;background: rgba(236, 200, 24, 0.10);box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.13) !important; margin: 0;}
.rugiet_1004 .selection-box label .border{border: none !important; height: auto;}
.rugiet_1004 .selection-box label + .rounded-bl-md.rounded-br-md{display: none;}
.rugiet_1004 .selection-box label .border .flex.justify-content-between{flex-wrap: wrap; height: auto; padding: 18px 18px 15px 20px !important;}
.rugiet_1004 .selection-box label .border .flex.justify-content-between .flex{width: 100%; text-align: left !important;}
.rugiet_1004 .selection-box label .border .flex.justify-content-between .flex .leading-normal{color: #000;font-size: 18px;font-style: normal;line-height: 20px;font-weight: 400;}
.rugiet_1004 .selection-box label.bg-rugietmustard .border .flex.justify-content-between .flex .leading-normal{font-weight: 600;}
.rugiet_1004 .selection-box label .border .flex.justify-content-between .text-right .font-bold{color: #000;font-size: 16px;font-style: normal;font-weight: 400;line-height: 20px; text-transform: lowercase;}
.rugiet_1004 .selection-box label .border .flex.justify-content-between .text-xs{display: none;}
.rugiet_1004 .selection-box label.bg-white .border .flex.justify-content-between .text-right .font-bold{color: rgba(0, 0, 0, 0.60);}
.rugiet_1004 .qty-three-info, .rugiet_1004 .qty-one-info{flex-direction: row;padding-left: 30px; padding-top: 8px;}
.rugiet_1004 .qty-three-info .dose-qty, .rugiet_1004 .qty-one-info .dose-qty{color: #000;font-size: 16px;font-style: normal;font-weight: 400;line-height: 20px; margin-right: 4px;}
.rugiet_1004 label.bg-white .qty-three-info .dose-qty, .rugiet_1004 label.bg-white .qty-one-info .dose-qty{color: rgba(0, 0, 0, 0.60);}
.rugiet_1004 .dos-per-price{display: flex; align-items: center;}
.rugiet_1004 .dos-per-price strong{color: #000;text-align: right;font-size: 18px;font-style: normal;font-weight: 600;line-height: 20px; display: block; margin-right: 4px;}
.rugiet_1004 .dos-per-price span{color: rgba(0, 0, 0, 0.60);font-size: 10px;font-style: normal;font-weight: 400;line-height: 8px; display: block;}
.rugiet_1004 .ring-offset-2 {--tw-ring-offset-width: 3px;width: 10px; height: 10px;margin-left: 3px;margin-top: -1px;margin-right: 17px !important;}
.rugiet_1004 .selection-box input[type="radio"]{position: absolute;opacity: 0;visibility: hidden;}
.rugiet_1004 .selection-box input[type="radio"] + div{position: relative; padding-left: 30px;}
.rugiet_1004 .selection-box input[type="radio"] + div:before{content: ''; width: 20px; height: 20px; display: block;border-radius: 999px;border: 2px solid #000;background: #FFF; position: absolute; top: -1px; left: -2px;}
.rugiet_1004 .selection-box input[type="radio"]:checked + div:before{background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='1' y='1' width='18' height='18' rx='9' fill='white'/%3e%3crect x='1' y='1' width='18' height='18' rx='9' stroke='%23ECC818' stroke-width='2'/%3e%3crect x='5' y='5' width='10' height='10' rx='5' fill='%23ECC818'/%3e%3c/svg%3e"); border: none;}
/* .rugiet_1004 .selection-box input[type="radio"]:checked + div:after{content: ''; width: 10.5px; height: 10.5px; display: block;border-radius: 999px; background: #ECC818; position: absolute; top: 4px; left: 3px;} */
.rugiet_1004 .checked\:ring-black:checked {    --tw-ring-color: #ECC818; color: #ECC818;} 
.rugiet_1004 .skip-info{color: rgba(0, 0, 0, 0.60);font-size: 16px;font-style: normal;font-weight: 400;line-height: normal;}
.rugiet_1004 .try-toggler{margin-top: 17px !important; margin-bottom: 52px !important;}
.rugiet_1004 .try-toggler span.font-bold{color: #000;font-size: 16px;font-style: normal;font-weight: 600;line-height: normal;text-decoration-line: underline;text-decoration-skip-ink: none;}
.rugiet_1004 .try-toggler span img{display: none;}

.rugiet_1004 .cart-row #financial-summary{border-radius: 4px;background: #FDF9E8;box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.13);}
.rugiet_1004 .cart-row #financial-summary .flex .flex{background: none; padding: 0 !important;}
.rugiet_1004 .cart-row #financial-summary .flex .flex .flex{justify-content: space-between;padding: 0 32px 8px !important;}
.rugiet_1004 .cart-row #financial-summary hr{display: none;}
.rugiet_1004 .cart-row #financial-summary .total-qty-row .leading-8 p.font-bold + p.font-bold{display: none;}
.rugiet_1004 .cart-row #financial-summary .total-summary-title{padding: 20px 32px 32px;border-radius: 4px 4px 0px 0px; border-bottom: 1px solid #EAEAEA;}
.rugiet_1004 .cart-row #financial-summary .total-summary-title h3{color: #000;font-size: 20px;font-style: normal;font-weight: 600;line-height: 20px;}
.rugiet_1004 .cart-row #financial-summary .flex .flex.total-qty-row{margin-top: 0 !important; padding: 11px 0 0 !important;}
.rugiet_1004 .cart-row #financial-summary .flex .flex.total-qty-row + .flex{margin: 4px 0 0 !important;}
.rugiet_1004 .cart-row #financial-summary .total-qty-col p.font-bold{color: #000;font-size: 18px;font-style: normal;font-weight: 400;line-height: 20px; margin-bottom: 4px; text-transform: capitalize;}
.rugiet_1004 .cart-row #financial-summary .total-qty-col .total-qty{color: rgba(0, 0, 0, 0.60);font-size: 16px;font-style: normal;font-weight: 400;line-height: 20px; text-transform: lowercase;}
.rugiet_1004 .cart-row #financial-summary .total-qty-row .leading-8 p, .rugiet_1004 .cart-row #financial-summary .total-qty-row .leading-8 p span{color: #000;text-align: right;font-size: 18px;font-style: normal;font-weight: 400;line-height: 20px;}
.rugiet_1004 .cart-row #financial-summary .flex .flex.total-qty-row + .flex p{color: #000;font-size: 18px;font-style: normal;font-weight: 400;line-height: 20px; width: auto;}
.rugiet_1004 .cart-row #financial-summary .flex .flex.total-qty-row + .flex .instant-div p{color: #00A42E;}
.rugiet_1004 .cart-row #financial-summary .space-x-1.pb-2{display: none;}
.rugiet_1004 .cart-row #financial-summary .cart-total-row{justify-content: space-between;padding: 20px 32px 32px !important;border-top: 1px solid #EAEAEA;margin-top: 9px;}
.rugiet_1004 .cart-row #financial-summary .cart-total-row p{color: #000;font-size: 20px;font-style: normal;font-weight: 600;line-height: 20px;}
.rugiet_1004 .cart-row #financial-summary .cart-total-row p .old-price{font-size: 18px;font-weight: 400;display: inline-block;margin-right: 9px;text-decoration: line-through;color: rgba(0, 0, 0, 0.60);}

.rugiet_1004 #financial-summary + div form {width: 100%;display: none;justify-content: space-between;padding: 0; position: relative;margin: 24px 0 0; order: 1;}
.rugiet_1004 #financial-summary + div form.show_promo {display: flex;}
.rugiet_1004 .promo_cta_sec{margin: 14px 0 0;padding: 0 16px; order: 2;}
.rugiet_1004 .promo_cta_sec .promo_cta{color: rgba(0, 0, 0, 0.80);font-size: 14px;font-style: normal;font-weight: 600;line-height: normal;text-transform: uppercase;background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3e%3cpath d='M8 3.83325V13.1666' stroke='black' stroke-opacity='0.8' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M3.33325 8.5H12.6666' stroke='black' stroke-opacity='0.8' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
background-repeat: no-repeat;background-position: left center;padding: 8px 16px 8px 25px;display: inline-block; cursor: pointer;}
.rugiet_1004 .show_promo + div .promo_cta_sec{display: none;}

.rugiet_1004 #financial-summary + div form input[type=text] {width: 100%;max-width: 424px;height: 40px;border-radius: 4px;border: 1px solid #969696;background: #FFF;margin-right: 8px !important;
text-align: left !important;padding: 12px 16px;font-size: 16px;line-height: 150%; outline: none; box-shadow: none;color: #333;}
.rugiet_1004 #financial-summary + div form .input_wrap.focus input[type=text]{border: 1px solid #438FBF;}
.rugiet_1004 .input_wrap label {position: absolute;left: 16px;top: 12px;color: #969696;font-family: Montserrat,sans-serif;font-size: 14px;font-weight: 400;line-height: normal;
pointer-events: none;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.rugiet_1004 .input_wrap.active label, .rugiet_1004 .input_wrap.focus label {top: -8px;background: #fff;padding: 0 4px;color: #969696;left: 12px;}
.rugiet_1004 .input_wrap {width: 100%;}
.rugiet_1004 .input_wrap.focus label{color: #438FBF;}
.rugiet_1004 .input_wrap.error_code label{ color: #E94E44; }
.rugiet_1004 #financial-summary + div form .input_wrap.error_code input[type=text]{ border: 1px solid #E94E44; }
.rugiet_1004 #promo-code-result.text-error{ color: #E94E44; font-family: Montserrat,sans-serif; font-size: 12px; font-weight: 400; line-height: 18px; padding: 4px 0 0 !important; opacity: 0.7; text-align: left !important; order: 3;}
.rugiet_1004 #promo-code-result{padding: 0 !important;}
.rugiet_1004 #financial-summary + div form input[type=submit] {width: 100%;max-width: 176px;min-height: 40px;border-radius: 4px;border: 1px solid #438FBF;background: transparent;
color: #438FBF;font-family: Montserrat,sans-serif;font-size: 14px;font-weight: 600;line-height: normal;text-transform: uppercase;}
.rugiet_1004 #financial-summary + div form input[type=submit]:hover{border-color: #387AA4;color: #387AA4;}
.rugiet_1004 .promo_info{order: 4; padding-bottom: 7px;}
.rugiet_1004 .promo_info_txt {color: rgba(0, 0, 0, 0.60);font-size: 14px;font-style: normal;font-weight: 400;line-height: normal;margin: 20px 0 8px;display: none;}
.rugiet_1004 .promo_info_txt.info_show{display: flex;}
.rugiet_1004 .flex.option-div-wrapper{margin-bottom: 20px !important; margin-top: -24px !important; box-shadow: none !important;}
/* .rugiet_1004 .flex.option-div-wrapper > .flex{height: auto !important;} */

.rugiet_1004 .change-selection{margin: 0 !important; padding-bottom: 0;}
.rugiet_1004 .change-selection a{color: #000;font-size: 12px;font-style: normal;font-weight: 600;line-height: normal;text-decoration-line: underline;text-transform: none;text-decoration-skip-ink: none;}

.rugiet_1004 .cart-row .proceed-btn-wrapper{margin-top: -4px;}
.rugiet_1004 .cart-row .proceed-btn-wrapper a{max-width: 392px;margin: 0 auto;}

.rugiet_1004 #financial-summary + div + .flex.leading-normal{padding: 0 !important;margin: 20px 0 0;color: rgba(0, 0, 0, 0.60);font-size: 16px;font-style: normal;font-weight: 400;line-height: normal;max-width: 520px;}
.rugiet_1004 .checkout-progress__bar{width: 95.84% !important; background: radial-gradient(342.31% 342.31% at 50% 50%, #EECE2F 0%, rgba(238, 206, 47, 0.00) 100%);box-shadow: none;border-radius: 0; height: 13px; margin-top: 1px;}

.rugiet_1004 .option-div-wrapper label.bg-white{border-radius: 8px !important;border: 2px solid #737373;background: #FFF;box-shadow: none !important;}
.rugiet_1004 .option-div-wrapper label .border{border: none !important; height: auto !important;}
.rugiet_1004 .option-div-wrapper label.bg-rugietmustard{border-radius: 8px !important;border: 2px solid #ECC818;background: rgba(236, 200, 24, 0.10);box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.13) !important;}
/*------control fixes------*/
.rugiet_1004 .global_footer > .container > .desktop-text-right.text-muted.mt-0.mr-auto.mb-2.ml-auto a{position: relative; z-index: 9999; display: flex; justify-content: center; max-width: 56px; margin: 0 auto;}

.rugiet_1004 .selection-box label .border .flex.justify-content-between .flex.text-right {
    padding-left: 30px;;
}

.lock_labels label{
    pointer-events: none !important;
}

@media (max-width:1199.98px){
    .rugiet_1004 .cart-row .proceed-btn-wrapper{margin-top: 2px;}
    .rugiet_1004 .checkout-progress__bar{width: 96.37% !important;}
}

@media (max-width:767.98px){
    .rugiet_1004 .selection-box {
        width: 100%;
        max-width: 100%;
    }
    .rugiet_1004 .lead-col-50{ justify-content: space-between;}
    .rugiet_1004 .lead-col-left{margin-bottom: 18px;}
    .rugiet_1004 .lead-col-50 .prod-info div.text-sm span{font-size: 10px;}
    .rugiet_1004 .lead-col-50 .prod-info div.text-sm:after{font-size: 10px;}
    .rugiet_1004 .lead-col-50 .doses-info span{font-size: 10px; }
    .rugiet_1004 .lead-col-50 .doses-info{margin-top: 8px;}
    .rugiet_1004 .change-selection a{font-size: 10px; display: block;}
    .rugiet_1004 .supply-title{font-size: 18px; padding-top: 24px !important;position: relative; border: none; margin-top: 15px !important;}
    .rugiet_1004 .selection-row{flex-wrap: wrap; margin-bottom: 15px !important;}
    .rugiet_1004 .selection-row .selection-box {width: 100%;max-width: 100%;}
    .rugiet_1004 .selection-row .selection-box + .selection-box{margin-top: 16px;}
    .rugiet_1004 #cart-container h1{font-size: 24px; margin-top: 9px; padding-bottom: 36px;}
    .rugiet_1004 .lead-col-50 p{font-size: 16px; padding-top: 3px;}
    .rugiet_1004 .lead-col-50 .prod-info{margin-top: 7px;}
    .rugiet_1004 .lead-col-50 .prod-info div.text-sm span:last-child{margin-right: 1.2px;}
    .rugiet_1004 .change-selection {position: relative;}
    .rugiet_1004 .supply-title:before{content: ''; position: absolute; left: -28px; right: -28px; top: 0; height: 1px; background: #EAEAEA;}
    .rugiet_1004 .selection-row .selection-box label .border .flex.justify-content-between .flex .leading-normal,.rugiet_1004 .selection-box label .border .flex.justify-content-between .flex .leading-normal{font-size: 16px;}
    .rugiet_1004 .dos-per-price strong{font-size: 16px;}
    .rugiet_1004 .dos-per-price span{font-size: 8px;}
    .rugiet_1004 .selection-row .selection-box label .border .flex.justify-content-between{padding: 15px 18px 10px 20px !important;}
    .rugiet_1004 .qty-three-info, .rugiet_1004 .qty-one-info{padding-top: 4px;}
    .rugiet_1004 .skip-info{font-size: 12px;}
    .rugiet_1004 .try-toggler span.font-bold, .rugiet_1004 .try-toggler .try-does{font-size: 12px;}
    .rugiet_1004 .try-toggler{margin-bottom: 36px !important;}
    .rugiet_1004 .cart-row #financial-summary .total-summary-title h3{font-size: 16px;}
    .rugiet_1004 .cart-row #financial-summary .total-summary-title {padding: 12px 16px 16px;}
    .rugiet_1004 .cart-row #financial-summary .total-qty-col p.font-bold{font-size: 16px;}
    .rugiet_1004 .cart-row #financial-summary .flex .flex .flex{width: auto;padding: 0 0px 8px !important;}
    .rugiet_1004 .cart-row #financial-summary .total-qty-row .leading-8 p, .rugiet_1004 .cart-row #financial-summary .total-qty-row .leading-8 p span{font-size: 16px;}
    .rugiet_1004 .cart-row #financial-summary .flex .flex.total-qty-row{padding: 7px 16px 0 !important;}    
    .rugiet_1004 .cart-row #financial-summary .flex .flex.total-qty-row + .flex p{font-size: 16px;}
    .rugiet_1004 .cart-row #financial-summary .flex .flex.total-qty-row + .flex {margin: 0px 0px 0 !important;padding: 0 16px !important;}
    .rugiet_1004 .cart-row #financial-summary .cart-total-row{padding: 16px 16px 20px !important;margin-top: 3px;}
    .rugiet_1004 .cart-row #financial-summary .cart-total-row p{font-size: 16px;}
    .rugiet_1004 .cart-row #financial-summary .cart-total-row p + p{font-size: 18px;}
    .rugiet_1004 .promo_cta_sec .promo_cta{font-size: 12px; padding-left: 23px;}
    .rugiet_1004 .promo_cta_sec{margin-top: 7px;}
    .rugiet_1004 #financial-summary + div{padding-bottom: 10px !important;}
    .rugiet_1004 #financial-summary + div + .flex.leading-normal{font-size: 12px; margin-top: 0;}
    .rugiet_1004 .cart-row .proceed-btn-wrapper {margin-top: 7px;}
    .rugiet_1004 #financial-summary + div form{margin-top: 17px;}
    .rugiet_1004 #financial-summary + div form input[type=submit]{max-width: 105px;}
    .rugiet_1004 .input_wrap{-ms-flex-preferred-size: 0;flex-basis: 0;-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;max-width: 100%;padding-right: 8px;}
    .rugiet_1004 #financial-summary + div form input[type=text]{margin-right: 0 !important;}
    .rugiet_1004 .input_wrap label{font-size: 12px;}
    .rugiet_1004 #financial-summary + div form input[type=submit]{font-size: 12px;}
    .rugiet_1004 .cart-row #financial-summary .cart-total-row p .old-price{font-size: 16px; margin-right: 8px;}
    .rugiet_1004 .checkout-progress__bar{width: 94.45% !important;}
    .rugiet_1004 #cart-container .max-w-md{padding-left: 14px; padding-right: 14px;}
    .rugiet_1004 .promo_info_txt{color: #000;}

}

@media screen  and (max-width:767.98px) and (min-width:558px){
    .rugiet_1004 .lead-col-50:nth-child(1){
        padding-right: 5px;
    }
}

@media screen and (max-width:558px){
    .rugiet_1004 .lead-col-50{
        width: 100%; 
        max-width: 100%; 
        flex: 0 0 100%;
    }
}


/* 1004 End */


.spz_rugiet_2003 .shadow-xl,
.spz_rugiet_2003 .shadow-lg{
    box-shadow:none !important;
}

/* Step 2 Products CSS */

.spz_rugiet_2003_loader ~ body.spz_rugiet_2003{
    filter: blur(8px);
    -webkit-filter: blur(8px);
    opacity: 0;
    overflow: hidden;
}

.spz_rugiet_2003_loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
}

.spz_rugiet_2003_loader .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.spz_rugiet_2003.spzStep2 .checkout-progress__bar{
    width:calc(288px) !important;
}

/* Step 3 Products CSS */
.spz_rugiet_2003.remove_getstarted [data-controller="questionnaire"] > .relative > div > .align-items-start > .font-bold,
.spz_rugiet_2003.spzStep3 [data-controller="questionnaire"] > .relative > div > .align-items-start > .font-bold{
    display:none;
}

.spz_rugiet_2003.spzStep3 .checkout-progress__bar{
    width:calc(288px + 288px) !important;
}

/* Step 4 Carts CSS */

.spz_rugiet_2003.spzStep4 [data-step="quantity_selection"] > .relative > .flex.flex-col > .font-bold,
.spz_rugiet_2003.spzStep4 [data-step="quantity_selection"] > .relative > .flex.flex-col > .flex:nth-child(2),
.spz_rugiet_2003.spzStep4 [data-step="quantity_selection"] > .relative > .flex.flex-col > .flex:nth-child(6){
    display:none;
}


.spz_rugiet_2003.spzStep4 [data-step="quantity_selection"] > .relative > .font-termina.font-bold{
    font-size: 22px;
    font-style: normal;
    line-height: 26.4px;
    font-weight: 700;
    color: #000;
    margin: 0px 0px 21px 0;
    max-width: 300px;
}

.spz_rugiet_2003.spzStep4 .checkout-progress__bar{
    width:calc(288px + 288px + 288px) !important;
}

.spz_rugiet_2003.spzStep4 [data-step="quantity_selection"] label .frequency-card > .flex .items-end:nth-child(2) > .items-end .per-month-label:nth-child(2){
    visibility: hidden;
    opacity: 0;
}

.spz_rugiet_2003.spzStep4 [data-step="quantity_selection"] label .frequency-card .spz_font{
    font-weight: 400;
    line-height: 17.07px;
    font-size: 14px;
    color: #000;
}

.spz_rugiet_2003.spzStep4 [data-step="quantity_selection"] label .frequency-card.bg-rugietmustard .spz_font{
    font-weight: 600;
}

.spz_rugiet_2003.spzStep4 [data-step="quantity_selection"] label .frequency-card > .flex .items-end:nth-child(2) > .items-end .per-month-label{
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}


.spz_rugiet_2003.spzStep4#questionnaire .questionnaire-content input[type=radio]{
    border-color:#fff;
}

.spz_rugiet_2003.spzStep4#questionnaire .questionnaire-content .bg-rugietmustard input[type=radio]
{
    border-color:#000;
}
/* Step 5 Carts CSS */

.spz_rugiet_2003.spzStep5 .spz_cart_title{
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    padding-bottom: 30px !important;
    margin-top: -5px;
    text-align: left !important;
}

.spz_rugiet_2003.spzStep5 .spz_cart_description{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

/* Step 7 Carts CSS */

.spz_rugiet_2003.spzStep7 .checkout-progress__bar{
    width:100% !important;
}

/* Step 8 Carts CSS */

.spz_rugiet_2003.spzStep8 [data-controller="id-verification store--cart--clear-checkout-address"] > .relative > .flex:nth-child(5) > :nth-child(2),
.spz_rugiet_2003.spzStep8 [data-controller="id-verification store--cart--clear-checkout-address"] > .relative > .flex:nth-child(5) > :nth-child(3),
.spz_rugiet_2003.spzStep8 [data-controller="id-verification store--cart--clear-checkout-address"] > .relative > .flex:nth-child(5) > :nth-child(4),
.spz_rugiet_2003.spzStep8 [data-controller="id-verification store--cart--clear-checkout-address"] > .relative > .flex:nth-child(6),.spz_rugiet_2003.spzStep8 [data-controller="id-verification store--cart--clear-checkout-address"] > .relative > .flex:nth-child(7){
    display: none;
}

.spz_rugiet_2003.spzStep8 .questionnaireContentWrapper{
    max-width: 296px;
    width: 100%;
    margin:32px auto 31.5px auto;
}

.spz_rugiet_2003.spzStep8 .questionnaireContentWrapper .importantTitle{
    display: flex;
    color: #000;
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    align-items: center;
    margin-bottom: 4px;
}

.spz_rugiet_2003.spzStep8 .questionnaireContentWrapper .importantTitle svg{
    margin-right: 8px;
}

.spz_rugiet_2003.spzStep8 .questionnaireContentWrapper .importantText{
    color: #000;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
}

.spz_rugiet_2003.spzStep8 .questionnaireCTAWrapper{
    max-width: 392px;
    width: 100%;
    margin: auto;
}

.spz_rugiet_2003.spzStep8 .questionnaireCTAWrapper .questionnaireCTA{
    background-color: #ECC818;
    color: #000000;
    width:100%;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    height:49px;
    padding:16px 15px;
    border-radius: 4px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
}

.spz_rugiet_2003.spzStep8 .questionnaireCTAWrapper .questionnaireCTA:hover {
    background-color: rgba(241,214,96,var(--tw-bg-opacity));
}

/* Step 8 Carts CSS */

.spz_rugiet_2003.spzStep9 .checkout-progress__bar{
    width:102px !important;
}

.spz_rugiet_2003.spzStep10 .checkout-progress__bar{
    width:calc(102px + 102px) !important;
}

/* Step 23 */
.spz_rugiet_2003.spzStep23 [data-controller="id-verification store--cart--clear-checkout-address"] .relative .font-bold:nth-child(1){
    font-size:18px;
    line-height: 21.6px;
    font-weight: 700;
}

.spz_rugiet_2003.spzStep23.verify_page .checkout-progress{
    display: none !important;
}

@media screen and (max-width:1024px){
    .spz_rugiet_2003.spzStep2 .checkout-progress__bar{
        width:calc(136px) !important;
    }
    .spz_rugiet_2003.spzStep3 .checkout-progress__bar{
        width:calc(136px + 136px) !important;
    }
    .spz_rugiet_2003.spzStep4 .checkout-progress__bar{
        width:calc(136px + 136px + 136px) !important;
    }
}

@media screen and (max-width:767.98px){
    .spz_rugiet_2003.spzStep2 .checkout-progress__bar{
        width:calc(72px) !important;
    }
    .spz_rugiet_2003.spzStep3 .checkout-progress__bar{
        width:calc(72px + 72px) !important;
    }
    .spz_rugiet_2003.spzStep4 .checkout-progress__bar{
        width:calc(72px + 72px + 72px) !important;
    }
}